<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Chat</title>
</head>
<body>

    <h3>Edit tour Chat : <%= chat._id %></h3>
    <br>
    <p> This is chat sent from  <b><%= chat.from %></b> to <b><%= chat.to %></b></p>
    <br>
    <form method ="POST" action="/chats/<%=chat._id%>?_method=PUT"> 
        <textarea name="msg" rows = "6" cols = "50" > <%= chat.msg %></textarea>
        <button>Edit</button>
    </form>
</body>
</html>